<!-- 功能栏 -->
<!-- <div class="check">
  <div (click)="add_machine_type()">
    <img src="../../../../assets/logo/add_logo.svg" alt="">
    <span>新增類型</span>
  </div>
  <div (click)="add_machine()">
    <img src="../../../../assets/logo/add_logo.svg" alt="">
    <span>
      新增幾種
    </span>
  </div>
  <div>
    <img src="../../../../assets/logo/personnel_logo.svg" alt="">
    <span>
      維護人員信息
    </span>
  </div>
  <div>
    <img src="../../../../assets/logo/delete_logo.svg" alt="">
    <span (click)="delete_edit()">
      刪除
    </span>
  </div>
</div> -->
<!-- 机种类型表 -->
<!-- <div class="bottom">
  <table border="1" cellspacing="0" cellpadding="0"   spellcheck=fasle>
    <thead> 
      <tr>
        <th>
          類型
        </th>
        <th colspan=99>
          機種名稱
        </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of arr">
          <td *ngFor="let item of items">
            {{item}}
          </td>
        </tr>
    </tbody>
  </table>
</div> -->
  <!-- <div class="table">
    <div class="table_header">
      類型
    </div>
    <div class="table_tail">
      機種名稱
    </div>
  </div>

  <div class="table">
    <div class="table_header">
      1
    </div>
    <div class="table_body">
      2
    </div>
  </div> -->
