<!-- 功能栏 -->
<div class="check">
  <div (click)="add_machine_type()">
    <img src="../../../../assets/logo/add_logo.svg" alt="">
    <span>新增類型</span>
  </div>
  <div (click)="add_machine()">
    <img src="../../../../assets/logo/add_logo.svg" alt="">
    <span>
      新增幾種
    </span>
  </div>
  <div (click)="go_to_personnel()">
    <img src="../../../../assets/logo/personnel_logo.svg" alt="">
    <span>
      維護人員信息
    </span>
  </div>
  <div (click)="delete_edit()">
    <img src="../../../../assets/logo/delete_logo.svg" alt="">
    <span>
      刪除
    </span>
  </div>
  <div class="hide" *ngIf="machine_type_bool"></div>
  <div class="check_hide" *ngIf="delete_bool ||all_bool"></div>
</div>

<!-- 机种类型表 -->
<div class="bottom">
  <table border="1" cellspacing="0" cellpadding="0" spellcheck=fasle>
    <thead>
      <tr>
        <th id="type">類型</th>
        <th id="name" colspan=22>機種名稱</th>
      </tr>
    </thead>
    <tbody>
      <ng-container style="position: relative;" *ngFor="let items of arr;let id=index">
        <tr>
          <td *ngFor="let item of items;let i=index">
            <input *ngIf="machine_type_bool" (change)="change(i,id,$event)" value={{item}} type="text">
            <span *ngIf="!machine_type_bool">{{item}}</span>
            <div *ngIf="id==arr.length-1&&delete_bool&&i!=0" class="delete col" (click)="delete_machine(i)"
              style="top:22px">
              删除列
            </div>
          </td>
        </tr>
        <div *ngIf="delete_bool" class="delete row" (click)="delete_machine_type(id)">删除行</div>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="window" *ngIf="machine_type_bool || delete_bool">
  <div (click)="edit_submit(false)">
    取消</div>
  <div (click)="edit_submit(true)" style="background-color:rgba(35, 205, 151, 0.9);">
    確認</div>
</div>
