<!-- <p>detail works!</p> -->
<div class="check">
  <div class='selector'>
    <select class="select" [(ngModel)]="line_param">
      <option value=ALL>Line</option>
      <option [value]=item.line *ngFor="let item of line_list">{{item.line}}</option>
    </select>
    <select class="select" [(ngModel)]="model_param">
      <option value=ALL>Model</option>
      <option [value]=item.model *ngFor="let item of model_list">{{item.model}}</option>
    </select>
    <select class="select" [(ngModel)]="shift_param">
      <option value="ALL">Shift</option>
      <option value="D">D</option>
      <option value="N">N</option>
    </select>
  </div>
  <div class="mark">
    <input type="text" [(ngModel)]="mo_param" placeholder="MO">
    <label for="person_list" class="file">Upload
      <input *ngIf="!edit_bool" id="person_list" type="file" class="file1"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        (change)="pushExcel($event)" />
    </label>

    <div *ngIf="!download_bool" (click)="downExcel()">EXCEL
      <img src="../../../../../assets/logo/dowload_logo.svg" alt="下载">
    </div>
  </div>
  <div class="right-top">
    <nz-date-picker [(ngModel)]="start_date"></nz-date-picker>
    <nz-date-picker [(ngModel)]="end_date"></nz-date-picker>
    <div (click)="go()">GO</div>
  </div>
</div>

<nz-table #fixedTable [nzData]="detail_list" [nzFrontPagination]=false [nzBordered]=true
  [nzScroll]="{ x: '1000px', y: '380px' }">
  <thead>
    <tr>
      <th id="date">Date</th>
      <th id="shift">Shift</th>
      <th id="line">Line</th>
      <th id="mo">MO</th>
      <th id="pn">PN</th>
      <th id="qty">QTY</th>
      <th id="order">Order type</th>
      <th id="model">Model</th>
      <th id="remark">Remark</th>
      <th id="action" nzRight>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of fixedTable.data">
      <ng-container *ngIf="!edit_cache[item.id].edit; else editTemplate">
        <td>{{item.date}}</td>
        <td>{{item.shift}}</td>
        <td>{{item.line}}</td>
        <td>{{item.mo}}</td>
        <td>{{item.pn}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.order_type}}</td>
        <td>{{item.model}}</td>
        <td>{{item.remark}}</td>
        <td nzRight>
          <a *ngIf="!edit_bool" (click)="startEdit(item.id)">Edit</a>&nbsp;
          <a *ngIf="!edit_bool" (click)="deleteData(item.id)">Delete</a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.date" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.shift" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.line" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.mo" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.pn" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.qty" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.order_type" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.model" /></td>
        <td><input type="text" nz-input [(ngModel)]="edit_cache[item.id].data.remark" /></td>
        <td>
          <a (click)="saveEdit(item.id)" class="save">Save</a>
          <a (click)="cancelEdit(item.id)">Esc</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
