<!-- 功能按钮 -->
<div class="check">
  <div class="selector">
    <select class="select" [(ngModel)]="line_param">
      <option value=ALL>ALL</option>
      <option *ngFor="let item of line_list" [value]=item.line>{{item.line}}</option>
    </select>
    <select class="select" [(ngModel)]="model_param">
      <option value=ALL>ALL</option>
      <option *ngFor="let item of type_model_list" [value]=item.model>{{item.model}}</option>
    </select>
    <select class="select" [(ngModel)]="shift_param">
      <option *ngFor="let item of shift_list" [value]=item>{{item}}</option>
    </select>
  </div>
  <div class="mark">
    <select *ngIf="!edit_bool" class="color" [(ngModel)]="color_param">Color
      <option *ngFor="let item of color_list" [value]=item>{{item}}</option>
    </select>
    <div *ngIf="!download_bool" (click)="downExcel()">EXCEL
      <img src="../../../../../assets/logo/dowload_logo.svg" alt="">
    </div>
    <div *ngIf="!edit_bool" (click)="edit()">Edit
      <img src="../../../../../assets/logo/edit_logo.svg" alt="">
    </div>
  </div>
  <div class="button">
    <nz-date-picker [(ngModel)]="start_date" (ngModelChange)="onChange($event)"></nz-date-picker>
    <nz-date-picker [(ngModel)]="end_date" (ngModelChange)="onChange($event)"></nz-date-picker>
    <div (click)="go()">GO</div>
  </div>
  <div class="check_hide" *ngIf="modify_bool"></div>
</div>


<!-- 表格填写 -->
<div class="form">
  <table>
    <!-- 机种数量及其统计 -->
    <thead>
      <tr>
        <th id="line" rowspan="2" style="width: 6%;">綫別</th>
        <th id="calendar" colspan="4" style="width: 16%;" *ngFor="let item of show_calendar">
          {{item}}
        </th>
        <th id="onCapacity" colspan="2" style="width: 9%;">當班產能</th>
      </tr>
      <tr>
        <ng-container *ngFor="let item of show_calendar">
          <th id="day" colspan="2" style="width: 8.25%;">Day</th>
          <th id="night" colspan="2" style="width: 8.25%;">Night</th>
        </ng-container>
        <th id="machine">幾種</th>
        <th id="capacity">產能</th>
      </tr>
    </thead>
    <div>
      <tbody>
        <ng-container *ngFor="let list of show_machine_list; let i=index ">
          <tr class="tr-capacity">
            <td [rowSpan]=list.length-2 style="width: 7.2%" [ngStyle]=" {'height': (list.length-2)*43+'px'}">
              <input *ngIf="modify_bool" class="edit_input" [(ngModel)]="machine_data_list[i][0]" type="text">
              <span *ngIf="!modify_bool">{{list[0]}}</span>
              <br>
              <img *ngIf="modify_bool" src="../../../../../assets/logo/Increase_small_logo.svg"
                (click)="increase_model(i)">
            </td>
            <table id="internal_table">
              <tbody>
                <tr id="line_table" *ngFor="let items of list | slice:1:list.length-1;let id=index">
                  <ng-container *ngFor="let item of items">
                    <td style="width: 5%;"
                      [ngClass]="{'green': item.status==1,'yellow':item.status==2,'red':item.status==3}">
                      <ng-container *ngIf="!modify_bool">
                        {{item.model}}
                      </ng-container>
                      <select *ngIf="modify_bool" (change)="editTable($event,item)" class="select_table"
                        value={{item.model}}>
                        <option *ngIf="item.model" value={{item.model}}>{{item.model}}</option>
                        <option *ngFor="let i of type_model_list">{{i.model}}</option>
                      </select>
                    </td>
                    <td style="width: 5%;" *ngIf="item.status==1||item.status==2||item.status==3"
                      (click)="changeColor(item)" nz-popover [nzPopoverContent]="contentTemplate"
                      nzPopoverPlacement="rightBottom"
                      [ngClass]="{'green': item.status==1,'yellow':item.status==2,'red':item.status==3}">
                      <input *ngIf="modify_bool" class="edit_input" [(ngModel)]="item.number" type="text">
                      <span *ngIf="!modify_bool">{{item.number}}</span>
                    </td>
                    <td style="width: 5%;" *ngIf="item.status!=1&&item.status!=2&&item.status!=3"
                      (click)="changeColor(item)"
                      [ngClass]="{'green': item.status==1,'yellow':item.status==2,'red':item.status==3}">
                      <input *ngIf="modify_bool" class="edit_input" [(ngModel)]="item.number" type="text">
                      <span *ngIf="!modify_bool">{{item.number}}</span>
                    </td>
                    <ng-template #contentTemplate>
                      <p>新機種{{item.status==1?"BF":item.status==2?"PR":"CR"}},預計產能{{item.number}}pcs</p>
                    </ng-template>
                  </ng-container>
                  <ng-container *ngIf="modify_bool">
                    <div (click)="clear_model(list[id+1])">清除行</div>
                    <div (click)="delete_model(list,id+1)" style="top:22px">删除行</div>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <td class="capacity" [ngStyle]="{'height': (list.length-2)*43+'px'}" [rowSpan]="list.length-1" colspan="2">
              <ng-container *ngFor="let item of capacity_obj[list[0]]">
                {{item.model}}:{{item.output}}<br>
              </ng-container>
            </td>
          </tr>

          <tr *ngIf="!modify_bool" id="tll">
            <td style="width: 6%;">TTL {{list[0]}}</td>
            <ng-container *ngFor="let item of list[list.length-1]">
              <td style="width: 8.25%;" colspan="2">{{item}}</td>
            </ng-container>
            <td style="width: 9%;" colspan="2">{{capacity_sum_obj[list[0]]}}</td>
          </tr>
        </ng-container>
      </tbody>
    </div>
  </table>
</div>

<!-- 机种数量统计 -->
<div class="sum">
  <!-- *ngIf="go_bool" -->
  <div class="buttom">
    <span *ngFor="let item of page_number_list"
      [ngStyle]="{'background-color': item.status? 'rgba(72, 156, 156, 100)':'','border-color': item.status? '#489C9C':'rgba(255, 255, 255, 100)','cursor':'pointer'}"
      class="number" (click)="check_number(item.number )">{{item.number}}</span>
  </div>
  <div class="increase" *ngIf="modify_bool" (click)="increase_type()">
    <div>
      <img src="../../../../../assets/logo/Increase_large_logo.svg" alt="">
      新增綫別
    </div>
  </div>

  <div class="window" *ngIf="modify_bool">
    <div (click)="edit_submit(false)">
      取消</div>
    <div (click)="edit_submit(true)" style="background-color:rgba(35, 205, 151, 0.9);">
      確認</div>
  </div>
  <!-- 幾種數量統計 -->
  <table id="machine_type_sum">
    <tbody id="machine_type">
      <tr *ngFor="let items of show_type_list">
        <td style="width: 6%;">{{items[0]}}</td>
        <td *ngFor="let item of items[1]" style="width: 8.25%;">{{item}}</td>
        <td style="width: 9%;"></td>
      </tr>
    </tbody>
  </table>
</div>
